.container {
    width: 45%;
    height: 45%;
    border: 1px solid black;
    background-color: #222;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.noLinkContainer {
    flex-direction: column;
    font-size: 35px;
    background-color: #111111;
    border: none;
}

.textIntro {
    font-size: 20px;
    margin: 20px;
}

.spanOne {
    color: white;
}

.spanTwo {
    color: #045de3;
}

.container a {
    text-decoration: none;
}