.skillsBlock{
    background-color: #134044;
    height: 100vh;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    /*justify-content: center;*/
}

.skill {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}